
<style>


    .skills-container {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
    }

    .skill {
        text-align: center;
        width: 150px;
        height: 150px;
    }

    p {
        color: white;
    }


    .circle-svg {
        position: relative;
        width: 150px;
        height: 150px;
    }

        .circle-svg svg {
            transform: rotate(-90deg);
            width: 100%;
            height: 100%;
        }


        .circle-svg .bg-circle {
            fill: none;
            stroke: #C8E1E2;
            stroke-width: 10;
        }


        .circle-svg .progress-circle {
            fill: none;
            stroke: #FF3855;
            stroke-width: 10;
            stroke-linecap: round;
            stroke-dasharray: 377;
            stroke-dashoffset: 377;
            transition: stroke-dashoffset 1.5s ease-out;
        }


    .circle-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 16px;
        font-weight: bold;
        color: #C8E1E2;
    }
</style>

<div class="skills-container" id="skillsContainer">
</div>

<script>

    const skills = [
        { name: "Java", percentage: 85 },
        { name: "Python", percentage: 90 },
        { name: "C++", percentage: 75 },
        { name: "C#", percentage: 80 },
        { name: "HTML", percentage: 95 },
        { name: "CSS", percentage: 90 },
        { name: "JavaScript", percentage: 80 },
    ];


    const skillsContainer = document.getElementById("skillsContainer");


    skills.forEach(skill => {

        const skillDiv = document.createElement("div");
        skillDiv.className = "skill";
        skillDiv.setAttribute("data-percentage", skill.percentage);


        skillDiv.innerHTML = `
                            <div class="circle-svg">
                                <svg viewBox="0 0 140 140">
                                    <circle class="bg-circle" cx="70" cy="70" r="60"></circle>
                                    <circle class="progress-circle" cx="70" cy="70" r="60"></circle>
                                </svg>
                                <div class="circle-text">${skill.percentage}%</div>
                            </div>
                            <p>${skill.name}</p>
                        `;


        skillsContainer.appendChild(skillDiv);
    });


    document.addEventListener('DOMContentLoaded', () => {
        const skills = document.querySelectorAll('.skill');

        skills.forEach(skill => {
            const percentage = skill.getAttribute('data-percentage');
            const progressCircle = skill.querySelector('.progress-circle');
            const radius = progressCircle.r.baseVal.value;
            const circumference = 2 * Math.PI * radius;


            progressCircle.style.strokeDasharray = circumference;


            const offset = circumference - (percentage / 100) * circumference;


            setTimeout(() => {
                progressCircle.style.strokeDashoffset = offset;
            }, 100);
        });
    });
</script>

