﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="projectCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

        <div class="carousel-item active">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="animate">Project 1</h3>
                    <p class="animate"><strong>Technology Used:</strong> ASP.NET Core, Whatever</p>
                    <p class="animate">descrition blablablbbjb</p>
                </div>
                <div class="col-md-6">
                    <video class="animate" controls>
                        <source src="project1_video.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="animate">Project 2</h3>
                    <p class="animate"><strong>Technology Used:</strong> Java, Whatever</p>
                    <p class="animate">descrition blablablbbjb</p>
                </div>
                <div class="col-md-6">
                    <video class="animate" controls>
                        <source src="project2_video.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="animate">Project 3</h3>
                    <p class="animate"><strong>Technology Used:</strong> Python, TensorFlow</p>
                    <p class="animate">descrition blablablbbjb</p>
                </div>
                <div class="col-md-6">
                    <video class="animate" controls>
                        <source src="project3_video.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
    </div>


    <button class="carousel-control-prev" type="button" data-bs-target="#projectCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#projectCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<div class="text-center my-4">
    <a asp-controller="Projects" asp-action="Index" class="btn btn-custom">See All Projects</a>
</div>

<style>
    p strong {
        position: relative;
        padding-left: 10px;
        font-weight: bold;
    }

        p strong::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 4px;
            background-color: #FFD700;
        }
</style>

<script>
    document.getElementById('projectCarousel').addEventListener('slid.bs.carousel', function (event) {

        document.querySelectorAll('.carousel-item .animate').forEach(el => {
            el.classList.remove('fade-up', 'fade-right', 'fade-in');
        });


        const activeSlide = event.relatedTarget;
        activeSlide.querySelectorAll('.animate').forEach((el) => {
            if (el.tagName === 'H3') {
                el.classList.add('fade-up');
            } else if (el.tagName === 'P' && el.querySelector('strong')) {
                el.classList.add('fade-right');
            } else if (el.tagName === 'P') {
                el.classList.add('fade-up');
            } else if (el.tagName === 'VIDEO') {
                el.classList.add('fade-in');
            }
        });
    });
</script>