html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

    body::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: linear-gradient(to bottom, rgb(5, 10, 56, 0.3), rgb(124, 50, 156, 0.3));
        z-index: 1;
    }

.content-body {
    position: relative;
    z-index: 1;
    padding-left: 20rem;
    padding-right: 20rem;
    margin-top: 20px;
    max-width: 100%;
}



html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

:root {
    --color-bg1: rgb(108, 0, 162);
    --color-bg2: rgb(0, 17, 82);
    --color1: 18, 113, 255;
    --color2: 221, 74, 255;
    --color3: 100, 220, 255;
    --color4: 200, 50, 50;
    --color5: 180, 180, 50;
    --color-interactive: 140, 100, 255;
    --circle-size: 80%;
    --blending: hard-light;
}

@keyframes moveInCircle {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes moveVertical {
    0% {
        transform: translateY(-50%);
    }

    50% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(-50%);
    }
}

@keyframes moveHorizontal {
    0% {
        transform: translateX(-50%) translateY(-10%);
    }

    50% {
        transform: translateX(50%) translateY(10%);
    }

    100% {
        transform: translateX(-50%) translateY(-10%);
    }
}

.gradient-bg {
    width: 100%;
    height: 100%;
    position: fixed; /* Use fixed positioning for full page coverage */
    top: 0;
    left: 0;
    background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
    overflow: hidden;
    z-index: -100;
    min-height: 100vh;
}

    .gradient-bg svg {
        display: none;
    }

    .gradient-bg .gradients-container {
        filter: url(#goo) blur(40px);
        width: 100%;
        height: 100%;
        z-index: -99;
    }

    .gradient-bg .g1 {
        position: absolute;
        background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
        mix-blend-mode: var(--blending);
        width: var(--circle-size);
        height: var(--circle-size);
        top: calc(50% - var(--circle-size) / 2);
        left: calc(50% - var(--circle-size) / 2);
        transform-origin: center center;
        animation: moveVertical 30s ease infinite;
        opacity: 1;
    }

    .gradient-bg .g2 {
        position: absolute;
        background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
        mix-blend-mode: var(--blending);
        width: var(--circle-size);
        height: var(--circle-size);
        top: calc(50% - var(--circle-size) / 2);
        left: calc(50% - var(--circle-size) / 2);
        transform-origin: calc(50% - 400px);
        animation: moveInCircle 20s reverse infinite;
        opacity: 1;
    }

    .gradient-bg .g3 {
        position: absolute;
        background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
        mix-blend-mode: var(--blending);
        width: var(--circle-size);
        height: var(--circle-size);
        top: calc(50% - var(--circle-size) / 2 + 200px);
        left: calc(50% - var(--circle-size) / 2 - 500px);
        transform-origin: calc(50% + 400px);
        animation: moveInCircle 40s linear infinite;
        opacity: 1;
    }

    .gradient-bg .g4 {
        position: absolute;
        background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
        mix-blend-mode: var(--blending);
        width: var(--circle-size);
        height: var(--circle-size);
        top: calc(50% - var(--circle-size) / 2);
        left: calc(50% - var(--circle-size) / 2);
        transform-origin: calc(50% - 200px);
        animation: moveHorizontal 40s ease infinite;
        opacity: 0.7;
    }

    .gradient-bg .g5 {
        position: absolute;
        background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
        mix-blend-mode: var(--blending);
        width: calc(var(--circle-size) * 2);
        height: calc(var(--circle-size) * 2);
        top: calc(50% - var(--circle-size));
        left: calc(50% - var(--circle-size));
        transform-origin: calc(50% - 800px) calc(50% + 200px);
        animation: moveInCircle 20s ease infinite;
        opacity: 1;
    }

    .gradient-bg .interactive {
        position: absolute;
        background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
        mix-blend-mode: var(--blending);
        width: 100%;
        height: 100%;
        top: -50%;
        left: -50%;
        opacity: 0.7;
        z-index: -98;
    }







body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}




main {
    flex: 1;
}













/* hamburger icon */
.hamburger {
    width: 29px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
    mix-blend-mode: difference;
    position: fixed;
    top: 40px;
    left: 90%;
    z-index: 99999;
}

    .hamburger span {
        position: absolute;
        height: 4px;
        background-color: white;
        border-radius: 2px;
        transition: all 0.3s ease;
    }

        /* lines */
        .hamburger span:nth-child(1) {
            top: 0;
            width: 100%;
        }

        .hamburger span:nth-child(2) {
            top: 7px;
            width: 60%;
            right: 0;
        }

        .hamburger span:nth-child(3) {
            top: 14px;
            width: 100%;
        }

    /* x icon animations */
    .hamburger.open span:nth-child(1) {
        transform: rotate(45deg) translate(4px, 6px);
    }

    .hamburger.open span:nth-child(2) {
        transform: scaleX(0);
    }

    .hamburger.open span:nth-child(3) {
        transform: rotate(-45deg) translate(4px, -6px);
    }

    /* increase the space between the lines (when overlay is closed) */
    .hamburger.closed:hover span:nth-child(1) {
        top: -5px;
    }

    .hamburger.closed:hover span:nth-child(2) {
        top: 10px;
    }

    .hamburger.closed:hover span:nth-child(3) {
        top: 25px;
    }



/* overlay menu */
.nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    z-index: 9999;
    transition: height 0.4s ease;
}

    .nav-overlay.show {
        height: 100%;
    }

    /* menu content */
    .nav-overlay .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 45%;
        padding-left: 400px;
    }

    .nav-overlay .contact-content {
        text-align: center;
        color: white;
        width: 30%;
    }




        .nav-overlay .contact-content h2 {
            font-size: 2rem;
            margin-bottom: 10px;
        }

        .nav-overlay .contact-content p {
            font-size: 1.2rem;
            margin-bottom: 20px;
        }

        .nav-overlay .contact-content .btn {
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            color: white;
            border: 2px solid #f44336;
        }

            .nav-overlay .contact-content .btn:hover {
                background-color: #ffffff0b;
            }







/* cursor styles*/

.cursor {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
    z-index: 9999;
}

    .cursor::after {
        content: "";
        width: 34px;
        height: 34px;
        position: absolute;
        border: 8px solid gray;
        border-radius: 50%;
        opacity: .5;
        top: -8px;
        left: -8px;
        animation: cursorAnim2 .5s infinite alternate;
    }

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(3);
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid red;
}























.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
}


.carousel-item {
    display: none;
    flex: 1;
    align-items: center;
    justify-content: center;
}



.carousel-inner {
    display: flex;
    align-items: center;
}

/* Columns inside Carousel */
.carousel-item .row {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.carousel-item .col-md-6 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    /* Left column (Text) */
    .carousel-item .col-md-6:first-child {
        flex: 0 0 15%;
    }

        .carousel-item .col-md-6:first-child h3 {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 15px;
            color: white;
            padding-left: 10px;
        }

        .carousel-item .col-md-6:first-child p {
            font-size: 1rem;
            color: white;
            line-height: 1.6;
            margin-bottom: 15px;
            padding-left: 10px;
        }

    /* Right column (Video) */
    .carousel-item .col-md-6:last-child {
        flex: 0 0 55%;
    }

    .carousel-item .col-md-6 video {
        border-radius: 10px;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
        width: 63%;
        height: 450px;
        object-fit: fill;
    }


.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
    border: 1px solid white;
}

.carousel-control-prev {
    left: -120px;
}

.carousel-control-next {
    right: -120px;
}

    .carousel-control-prev:hover,
    .carousel-control-next:hover {
        background-color: rgba(0, 0, 0, 0.7);
    }

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 20px;
    height: 20px;
    background-size: contain;
}


.visually-hidden {
    display: none;
}


@media (max-width: 768px) {
    .carousel-item .row {
        flex-direction: column;
    }

    .carousel-item .col-md-6:first-child,
    .carousel-item .col-md-6:last-child {
        flex: 0 0 100%;
    }

    .carousel-control-prev,
    .carousel-control-next {
        left: 20px;
        right: 20px;
    }
}











.btn-custom {
    width: 150px;
    padding: 12px;
    color: white;
    border: 3px solid #F93195;
    cursor: pointer;
    background: transparent;
    background-image: url('https://web.archive.org/web/20150514075508/http://splatoon.nintendo.com/assets/img/nav-bg-fill-pink.png?1429562795');
    background-repeat: repeat-x;
    background-position: 0 -100%;
    transition: 1.5s ease;
}


    .btn-custom:hover {
        background-position: center;
        color: white;
    }

    .btn-custom:nth-child(1) {
        filter: hue-rotate(0deg);
    }

    .btn-custom:nth-child(2) {
        filter: hue-rotate(40deg);
    }

    .btn-custom:nth-child(3) {
        filter: hue-rotate(60deg);
    }

    .btn-custom:nth-child(4) {
        filter: hue-rotate(80deg);
    }

    .btn-custom:nth-child(5) {
        filter: hue-rotate(100deg);
    }

    .btn-custom:nth-child(6) {
        filter: hue-rotate(120deg);
    }

    .btn-custom:nth-child(7) {
        filter: hue-rotate(140deg);
    }

    .btn-custom:nth-child(8) {
        filter: hue-rotate(160deg);
    }

    .btn-custom:nth-child(9) {
        filter: hue-rotate(180deg);
    }

    .btn-custom:nth-child(10) {
        filter: hue-rotate(160deg);
    }

    .btn-custom:nth-child(11) {
        filter: hue-rotate(200deg);
    }

    .btn-custom:nth-child(12) {
        filter: hue-rotate(260deg);
    }


























.fade-up {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp 1s ease forwards;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.fade-right {
    opacity: 0;
    transform: translateX(-30px);
    animation: fadeRight 1s ease forwards;
}

@keyframes fadeRight {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

































































.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    opacity: 1;
    transition: opacity 1.5s ease-out;
}


    .loader img {
        width: 500px;
        height: auto;
    }


body.loaded .loader {
    display: none;
}
